<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="events">
	<h2>Events you're likely to find me at</h2>

	<p><a href="http://www.oxbridgebiotech.com/events/london-onestart-launch/" target="_new">OBR OneStart Launch<br />7th November 2013, 6:30 pm<br />London Research Institute, WC2A 3LY</a></p>
		<p>Come and learn more about the world’s largest Biotech Business Plan Competition at the official London Launch Event. Speakers include Dr Oliver Hardick, Founder and CEO of Puridify and last year’s OneStart winner, and Matt Foy, Partner at SR One, GSK’s venture capital arm. Registration is free; just follow the link.</p>

	<p><a href="http://www.flossie.org/content/flossie-2013" target="_new">Flossie 2013<br />8th-9th November 2013<br />Queen Mary, University of London, E1 4NS</a></p>
		<p>Flossie 2013 is a two-day event for women who use or are otherwise interested in opening and diversifying technology to drive innovation, to share and inspire. Flossie 2013 brings together FLOSS women developers, entrepreneurs, researchers and policy-makers, digital artists and social innovators for an exciting mix of talks, spontaneous discussions and open workshops. Get your tickets at <a href="http://www.eventbrite.co.uk/event/7025380101" target="_new">Eventbrite</a>.<p>

	<p><a href="http://wiseqmul.wordpress.com/wise-events-calendar/" target="_new">WISE@QMUL Female Lecturers Panel Discussion<br />20th November 2013, 12:30 pm<br />Matt Spencer Boardroom, Queen Mary Students Union, E1 4NS</a></p>
		<p>Hear from three female academics who have managed to climb up the career ladder and balanced their life commitments. Essential for all of you considering a career in academia. Just show up! Free lunch provided.<p>

	<a href="/">Go back</a>
</div>

    </div>
  </div>
</div>