<div class="container">
	<div class="row">

		<div class="col-xs-12 col-sm-4">
			<div class="para">
				<div style="height: 70px;"></div>
					<img src="/images/zekoya.png" />
				</div>
    </div>
    
		<div class="col-xs-12 col-sm-4">
			<div class="para">
				<div style="height: 135px;"></div>
				<h1>Simplifying life</h1>
				<div style="width: 270px;">
					<h2>London<br />
					<a target="_new" href="http://twitter.com/ZekoyaLife">@ZekoyaLife</a></h2>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4">
			<div class="para">
				<div style="height: 145px;"></div>
				<input type="name" placeholder="Curious? Leave us your name">
				<input type="email" placeholder="...and email address :)"><input type="submit">
			</div>
		</div>

	</div>
</div>