<h1>Sybil CK Wong</h1>
<img src="https://pbs.twimg.com/profile_images/378800000486080965/465b4bcfd4b3545263bb6d46aea50536.png" />
<h2>PhD student at the Barts Cancer Institute</h2>
<p>Building bridges between bench to business</p>
<a href="http://twitter.com/SybilCKW">Follow me on twitter</a>