<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

<div class="profile">
	<h1>zekoya</h1>
	<h2>London<br />
		<a target="_new" href="http://twitter.com/zekoyaLife">@zekoyaLife</a></h2>
</div>

    </div>
  </div>
</div>
