<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div class="profile">
	<h1>Sybil CK Wong</h1>
	<div class="center">
		<img src="https://pbs.twimg.com/profile_images/378800000486080965/465b4bcfd4b3545263bb6d46aea50536.png" />
	</div>
	<h3>PhD student at the Barts Cancer Institute, London</h3>
	<p>Investigating how microRNAs work</p>
	<p>Seeking paths from primary research to product realisation</p>
	<p>Follow me on twitter <a href="http://twitter.com/SybilCKW">@SybilCKW</a>

	<h1>People I work with</h1>

</div>

<div class="profile">
	<h3>Events you're likely to find me at</h3>
	<p>OBR OneStart Launch, 7th November 2013<br />London Research Institute</p>
	<a href="/events">Find out more</a>
</div>

    </div>
  </div>
</div>