
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

<div style="height: 50px;"></div>

<div class="profile">
	<h1>zekoya</h1>
	<h2>London<br />
		<a target="_new" href="http://twitter.com/ZekoyaLife">@ZekoyaLife</a></h2>
</div>

    </div>
  </div>
</div>