<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

<div class="profile">
	<h1>zekoya</h1>
	<!-- <div class="center">
		<img src="https://pbs.twimg.com/profile_images/378800000486080965/465b4bcfd4b3545263bb6d46aea50536.png" />
	</div> -->
	<h2>London<br />
	<a target="_new" href="http://twitter.com/zekoyaLife">@zekoyaLife</a></h2>
	<!--<h2>People I work with</h2>-->

</div>

<!-- <div class="events">
	<h3>Events you're likely to find me at</h3>
	<p>OBR OneStart Launch<br />7th November 2013, 6:30 pm<br />London Research Institute, WC2A 3LY</p>
	<p>Flossie 2013<br />8th-9th November 2013<br />Queen Mary, University of London, E1 4NS</p>
	<p>WISE@QMUL Female Lecturers Panel Discussion<br />20th November 2013, 12:30 pm<br />Matt Spencer Boardroom, Queen Mary Students Union, E1 4NS</p>
	<a href="/events">Find out more</a>
</div>

<div class="profile">
	<strong>30/10/2013</strong> Huge thank you to Rosario (<a href="http://twitter.com/_sarhus" target="_new">@_sarhus</a>) from <a href="http://coderwave.com/" target="_new">Coderwave</a> for teaching me how to get this started!
</div>

    </div>
  </div>
</div>
-->