<!doctype html> <!--erb = embedded ruby; this is just the container html file-->
<html>
<head>
	<title>Zekoya</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" 
				rel="stylesheet" media="screen">
	<link link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Roboto:400,400italic,700,700italic'
				rel="stylesheet" type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
	<%= yield %>
</body>
</html>
