<!doctype html> <!--erb = embedded ruby; this is just the container html file-->
<html>
<head>
	<title>Zekoya</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" 
				rel="stylesheet" media="screen">
	<link link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:700|Roboto:400,400italic,700,700italic'
				rel="stylesheet" type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/lr-override.css">
	<link rel="shortcut icon" href="images/favicon.ico">
	<!--Facebook Open Graph tags http://blog.launchrock.co/animate-the-launchrock-widget-on-your-viral-landing-page/-->
	<meta property="og:title" content="" />
	<meta property="og:type" content="company" />
	<meta property="og:site_name" content="" />
	<meta property="og:url" content="www.zekoya.com" />
	<meta property="og:image" content="" />
</head>
<body>
	<%= yield %>
</body>
</html>
