html { 
  background: url('/images/wood.jpg') no-repeat center center fixed; /*url is relative to style.css, so need / at start of URL*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #562006;
}

body {
  background:none; /*Bootstrap original bkgd is white*/
  font-family: 'Roboto', sans-serif;
  color: #050000;
}

a, a:visited {
	color: #562006;
}

a:hover {
	color: #9e5b3b;
}

.center{
	text-align: center;
}

/*Originally used rgba(174, 205, 205, 0.85)*/
.profile {
	background: rgba(255, 255, 255, 0.6);
	width: 300px;
	height: 300px;
  margin: 60px; padding: 20px;
	border-right: 4px solid #050000;
	border-top-left-radius: 500px;
	border-top-right-radius: 500px;
	border-bottom: 4px solid #050000;
	border-bottom-left-radius: 500px;
	border-bottom-right-radius: 500px;
	text-align: center;
	}

.profile h1 {
	text-align: center;
	font-family: 'Gentium Book Basic', serif;
	font-size: 80px;
	font-weight: bold;
	margin-top: 70px;
	line-height: 80px;
}

.profile h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	/*font-weight: bold;*/
	/*line-height: 20px;*/
}

.profile h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	/*line-height: 20px;*/
}

.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  /*display: block;
	margin-left: auto;
  margin-right: auto; centering by equalising right/left margins*/
}

.events{
	background: rgba(240, 255, 255, 0.85);
	margin: 20px; padding: 30px;
	border-right: 4px solid #253333;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom: 4px solid #253333;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.events h2 {
	font-size: 20px;
	font-weight: bold;
	/*line-height: 24px;*/
}

.events h3 {
	font-size: 16px;
	font-weight: bold;
	/*line-height: 20px;*/
}